{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista {{titulo}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"><!--en este lin esta la vinculacion con bootstrap-->
    <!--
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<!--body class="text-uppercase"-->
<body>    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand"  href="#" style="color: #3399FF;">Lista</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><!--voy a pegar esas clase par luego reemplazar todos los-->
                    <a  class="nav-link" href="/">    Home</a>
                </li>
                
                {% if user.is_authenticated %}
                <!--  aca irian las tareas autenticadas  -->
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'menu' %}">    Menu</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="{% url 'jornadasBloque' %}">Asistencias Bloque</a>
                </li>
    
                <li class="nav-item">
                    <a  class="nav-link" href="{% url 'jornada_create' %}">Crear Asistencia</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="{% url 'jornadas' %}">Tomar Asistencias</a>
                </li>
                
                <li class="nav-item">
                    <a  class="nav-link" href="{% url 'importExcel' %}">Importar Jugadores</a>
                </li>
                
                <li class="nav-item">
                    <a  class="nav-link" href="{% url 'datosPersonales' %}">Datos Personales</a>
                </li>
                
                
                <li class="nav-item">
                    <a  class="nav-link" href="/us/logout">    Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a  class="nav-link" href="/us/signup">    Signup</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="/us/signin">    Signin</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    <div class="card text-center"><h6>{{club}} - {{titulo}}</h6></div>
    
    
    
    
    
    
        
    
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>   
<div class="container">
 {% block content %}
{% endblock %}   
</div>

</body>
</html>