{% extends 'base.html' %}
{% block content %}
{% load static %}
        <h1 class="display-1 text-center"> Lista</h1>   
        
            <div class="d-flex justify-content-center align-items-center">
                <img src="{% static 'b1d08846-2ca2-4c22-9a3a-3edb8b5aa7c7.png' %}" width="200" >
            </div>
            <p></p>  
            <p>
                En una tarde cualquiera de 1823 en Inglaterra, en una escuela pública se jugaba un partido de fútbol. Entre la trampa y la broma, un joven tomó la pelota con sus manos (en ese momento se permitía, pero sólo para dejarla caer y patearla) y comenzó a correr con ella hasta llegar a la meta, ante la mirada atónita de todos.
               
            </p>
        <p>El joven se llamaba William Webb Ellis y esa jugada es la que se considera como la acción fundacional de un deporte que es un derivado del fútbol y que tomó como denominación el nombre de la ciudad donde ocurrió ese hecho, Rugby.</p>
        <p>
            Las pelotas no eran iguales, sino que cada una tenía su propia fisonomía, dependían de la forma que tenían las vejigas de chancho que se usaban a modo de cámara. Esas vejigas se inflaban y luego se recubrían con cuero. En ese momento, las pelotas no eran ni redondas ni ovaladas de ahí el sobrenombre tenían forma de guinda.
        </p>
        
        
{% endblock %}